:root{
    --mainBg: #D7E7B6;
    --navHover: #d7e7b670;
    --greenAccent:#133630;
    --greenText: #133630;
    --lightText: #D7E7B6;
    --whiteText: white;
    --blackText: black;
    --normFont: 20px;
    --paragraphFont: 36px;
    --secTitleFont: 64px;
    --vBigFont: 124px;
    --heroBg1: #AFD169;
    --heroBg2: #D5C093;
    --heroBg3: #D7C1EF;
    --heroBg4: #F6DCDD;
    --hTextColor1: #133630;
    --hTextColor2: #E66728;
    --hTextColor3: #560CAB;
    --hTextColor4: #8B060A;
    --waves1: #133630;
    --waves2: #582207;
    --waves3: #210440;
    --waves4: #3A0608;
    --heroBtn1: #2A7368; 
    --heroBtn2: #E66728;
    --heroBtn3: #5104A4;
    --heroBtn4: #8B060A;
    --prodBtnBorder: 10px solid #133630;
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'neue';
    src: url(Fonts/HelveticaNeueLight.otf);
}

@font-face {
    font-family: 'neueb';
    src: url(Fonts/HelveticaNeueBold.otf);
}

body{
    font-family: 'neue';
    position: relative;
    background: var(--mainBg);
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    align-items: center;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 4;
}

nav{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    gap: 20px;
    background-color: var(--greenAccent);
    border-radius: 100px;
    position: relative;
    z-index: 2;
}

nav a{
    text-decoration: none;
    color: var(--lightText);
    padding: 20px 50px;
    font-size: var(--normFont);
    font-family: 'neueb';
    transition: all 300ms ease;
}

nav a:hover{
    background-color: var(--navHover);
    border-radius: 100px;
}

.viewerButtons a{
    text-decoration: none;
    color: var(--lightText);
    padding: 20px 50px;
    font-size: var(--normFont);
    font-family: 'neueb';
    transition: all 300ms ease;
}

.navSelected{
    color: var(--greenText);
    background-color: var(--mainBg);
    border-radius: 100px;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: var(--heroBg1);
    box-sizing: border-box;
    position: relative;
    transition: all 300ms ease;
}

.heroText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 230px 130px 0 130px;
    box-sizing: border-box;
}

#heroTag{
    width: 680px;
    height: 556px;
    font-size: var(--vBigFont);
    color: var(--greenText);
    font-family: 'neueb';
    text-transform: uppercase;
    transition: all 300ms ease;
    position: relative;
}

.heroDeets{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    z-index: 2;
}

.deetTitle{
    text-transform: uppercase;
    color: var(--whiteText);
    font-size: var(--normFont);
    font-family: 'neueb';
}

.deetText{
    font-size: var(--normFont);
    font-family: 'neue';
    color: var(--whiteText);
    font-weight: 200;
    margin-top: 10px;
}

#bottle3dElement{
    position: absolute;
    width: 230px;
    height: 654px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.viewerButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto 0;
    box-sizing: border-box;
    gap: 25px;
    position: relative;
    z-index: 2;
}

#arrowLeft{
    padding: 23px 30px;
    background-color: var(--greenAccent);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

#arrowRight{
    padding: 23px 30px;
    background-color: var(--heroBtn1);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
}

#heroCta{
    padding: 23px 30px;
    background-color: var(--heroBtn1);
    border-radius: 100px;
    border: none;
    color: var(--whiteText);
    font-family: 'neueb';
    font-size: var(--normFont);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
}

#wavesTop{
    width: 100vw;
    height: 115vh;
    position: absolute;
    background-color: #133630;
    right: 0vw;
    z-index: 0;
    mask: url(Images/wavesTop.svg) no-repeat right;
    box-sizing: border-box;
    transition: all 300ms;
}

#wavesBottom{
    width: 100vw;
    height: 118vh;
    position: absolute;
    background-color: #133630;
    left: 0vw;
    z-index: 0;
    mask: url(Images/wavesBottom.svg) round no-repeat left;
    box-sizing: border-box;
}

#about{
     padding: 60px 120px;
     display: flex;
     justify-content: space-between;
}

.aboutText{
    position: relative;
    width: 50%;
}

.aboutYogurts{
    width: 50%;
    height: 646px;
}

#yogurts3d{
    width: 100%;
    height: 646px;
}

.aboutTitle{
    font-size: 96px;
    font-family: 'neueb';
    color: var(--whiteText);
    text-transform: uppercase;
}

.aboutP{
    font-size: var(--paragraphFont);
    font-weight: 700;
    color: var(--whiteText);
    margin-top: 60px;
    width: 70%;
}

#products{
    margin-top: 340px;
    padding: 60px 120px;
}


.secTitle{
    font-size: var(--secTitleFont);
    color: var(--greenText);
    font-family: 'neueb';
    text-transform: uppercase;
    text-align: center;
}


.prodBlock{
    display: flex;
    gap: 60px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

.prodBlock2{
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

.blockText{
    display: flex;
    flex-direction: column;
    width: fit-content;
}


.blockTitle{
    font-size: var(--secTitleFont);
    color: var(--greenText);
    font-family: 'neueb';
    text-transform: uppercase;
    width: fit-content;
}

.blockP{
    color: var(--blackText);
    font-size: var(--paragraphFont);
    margin-top: 20px;
    width: 80%;
    font-family: 'neueb';
}

.drinksBlock3d, .yogurtsBlock3d, .cansBlock3d, .applesBlock3d{
    width: 60%;
}


#bottleReveal, #yogurtReveal, #canReveal, #appleReveal{
    height: 579px;
    width: 100%;
}


#prodBtn{
    font-size: var(--normFont);
    color: var(--whiteText);
    text-transform: uppercase;
    font-family: 'neueb';
    padding: 23px;
    background: var(--greenAccent);
    position: relative;
    width: fit-content;
    border-radius: 70px;
    text-decoration: none;
    margin-top: 40px;
}

#prodBtn:hover{
    background: transparent;
    outline: var(--prodBtnBorder);
    color: var(--greenText);
    transition: all 300ms linear;
}