:root{
    --mainBg: #D7E7B6;
    --greenAccent:#133630;
    --greenText: #133630;
    --lightText: #D7E7B6;
    --whiteText: white;
    --fontNorm: 20px;
    --vBigFont: 124px;
    --heroBtn1: #2A7368;
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'neue';
    src: url(Fonts/HelveticaNeueLight.otf);
}

@font-face {
    font-family: 'neueb';
    src: url(Fonts/HelveticaNeueBold.otf);
}

body{
    font-family: 'neue';
    position: relative;
    background: var(--mainBg);
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    align-items: center;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 4;
}

nav{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    gap: 20px;
    background-color: var(--greenAccent);
    border-radius: 100px;
    position: relative;
    z-index: 2;
}

a{
    text-decoration: none;
    color: var(--lightText);
    padding: 20px 50px;
    font-size: var(--fontNorm);
    font-family: 'neueb';
}

.navSelected{
    color: var(--greenText);
    background-color: var(--mainBg);
    border-radius: 100px;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: #AFD169;
    box-sizing: border-box;
    position: relative;
}

.heroText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 230px 130px 0 130px;
    box-sizing: border-box;
}

.heroTag{
    width: 680px;
    font-size: var(--vBigFont);
    color: var(--greenText);
    font-family: 'neueb';
    text-transform: uppercase;
}

.heroDeets{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    z-index: 2;
}

.deetTitle{
    text-transform: uppercase;
    color: var(--whiteText);
    font-size: var(--fontNorm);
    font-family: 'neueb';
}

.deetText{
    font-size: var(--fontNorm);
    font-family: 'neue';
    color: var(--whiteText);
    font-weight: 200;
    margin-top: 10px;
}

#bottle3dElement{
    position: absolute;
    width: 230px;
    height: 654px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.viewerButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    box-sizing: border-box;
    gap: 25px;
    position: relative;
    z-index: 2;
}

#arrowLeft{
    padding: 23px 30px;
    background-color: var(--greenAccent);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

#arrowRight{
    padding: 23px 30px;
    background-color: var(--heroBtn1);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

#heroCta{
    padding: 23px 30px;
    background-color: var(--heroBtn1);
    border-radius: 100px;
    border: none;
    color: var(--whiteText);
    font-family: 'neueb';
    font-size: var(--fontNorm);
    cursor: pointer;
    display: flex;
    align-items: center;
}

#wavesTop{
    width: 100vw;
    height: 115vh;
    position: absolute;
    background-color: #133630;
    right: 0vw;
    z-index: 0;
    mask: url(Images/wavesTop.svg) no-repeat right;
    box-sizing: border-box;
}

#wavesBottom{
    width: 100vw;
    height: 118vh;
    position: absolute;
    background-color: #133630;
    left: 0vw;
    z-index: 0;
    mask: url(Images/wavesBottom.svg) no-repeat left;
    box-sizing: border-box;
}

#about{
    
}